.navigation {
  overflow-y: scroll;
  width: 20vw;
  scroll-behavior: smooth;
  height: 100%;
  display: flex;
  position: fixed;
  left: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #557755;
}

.navigation .breeds {
  background: #557755;
  border: 1px solid;
  border-left: 0;
  border-right: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #D3E4CD;
}

.navigation a:hover,
a.active,
.breeds:hover,
.breeds.active {
  transition: background-color 1s, color 1s;
  background: #335533;
  text-decoration: none;
  color: #e4f5de;
}

.navigation-left {
  justify-content: space-around;
  padding: 0 1rem 0 1rem;
  margin-left: auto;
}